
<div class="header">
  <div class="row">
    <div class="col-md-5">
      <h1>Your Pins</h1>
      <h3><%= current_user.first_name %>'s pins</h3>
    </div>
    <div class="col-md-7 text-right">
      <%= link_to "New Pin", new_pin_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
<hr/>

<%= render partial: "shared/pins_list" %>

<hr/>
